<p>clinics works!</p>
<!-- <div class="container-fluid" id="wrapper">
    Sidebar
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">Dummy Heading</li>
            <li><a routerLink="/clinics">Clinic</a></li>
            <li><a routerLink="/doctors">Doctor</a></li>
            <li><a href="#">Patient</a></li>
            <li><a href="#">Appointment</a></li>
        </ul>
    </div> sidebar-wrapper

    Page Content
    <div class="container-fluid" id="content">
        <div class="p-3"><button class="btn btn-dark text-right">Add Clinic</button></div>
        <table class="table">
            <thead>
                <tr class="table-success">
                    <th scope="col">Clinic Id</th>
                    <th >Clinic Name</th>
                    <th>Location</th>
                    <th>Telephone</th>
                    <th>Timings</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let items of dataapi" class="table-light">
                    <td>{{items.ID}}</td>
                    <td>{{items.clname}}</td>
                    <td>{{items.cllocation}}</td>
                    <td>{{items.cltelephone}}</td>
                    <td>{{items.cltime}}</td>
                    <td>{{items.clemail}}</td>
                    <td>
                        <button class="btn btn-success">Update</button>&nbsp;
                        <button class="btn btn-danger">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    /#page-content-wrapper

</div> -->


