<div class="wrapper container">
<p>dashboard works</p>
</div>
    <!-- Sidebar -->
    <!-- <nav id="sidebar-wrapper" class="navbar navbar-inverse navbar-fixed-top">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">Dummy Heading</li>
            <li>
                <a href="#">Clinic</a>
            </li>
            <li><a href="#">Doctor</a></li>
            <li><a href="#">Patient</a></li>
            <li><a href="#">Appointment</a></li>
        </ul>
    </nav> -->

    <!-- Page Content -->
    <!-- <div id="content"> -->
        <!-- We'll fill this with dummy content -->
    <!-- </div> -->
